In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.shape

(100, 6)

In [7]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [9]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [11]:
X_train

    age  gender  fever   cough       city
44   20    Male  102.0  Strong      Delhi
74   34  Female  104.0  Strong      Delhi
42   27    Male  100.0    Mild      Delhi
48   66    Male   99.0  Strong  Bangalore
23   80  Female   98.0    Mild      Delhi
..  ...     ...    ...     ...        ...
26   19  Female  100.0    Mild    Kolkata
58   23    Male   98.0  Strong     Mumbai
38   49  Female  101.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
7    20  Female    NaN  Strong     Mumbai

[80 rows x 5 columns]

## 1. Aam Zindagi

In [12]:
#adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

#also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

#X_train_fever

In [13]:
X_train_fever

array([[102.        ],
       [104.        ],
       [100.        ],
       [ 99.        ],
       [ 98.        ],
       [100.90277778],
       [104.        ],
       [102.        ],
       [ 98.        ],
       [101.        ],
       [100.        ],
       [100.90277778],
       [101.        ],
       [ 99.        ],
       [100.        ],
       [100.90277778],
       [100.90277778],
       [101.        ],
       [104.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [100.        ],
       [100.        ],
       [102.        ],
       [101.        ],
       [ 98.        ],
       [100.        ],
       [102.        ],
       [103.        ],
       [102.        ],
       [ 98.        ],
       [103.        ],
       [101.        ],
       [104.        ],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [103.        ],
       [100.        ],
       [104.        ],
       [ 98.        ],
       [102.        ],
       [ 99.        ],
       [100.        ],
       [104.        ],
       [101.        ],
       [ 98.        ],
       [103.        ],
       [103.        ],
       [ 98.        ],
       [101.        ],
       [101.        ],
       [100.        ],
       [104.        ],
       [104.        ],
       [103.        ],
       [100.90277778],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [100.90277778],
       [ 98.        ],
       [102.        ],
       [101.        ],
       [102.        ],
       [100.90277778],
       [100.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [103.        ],
       [ 99.        ],
       [100.        ],
       [104.        ],
       [100.        ],
       [ 98.        ],
       [101.        ],
       [101.        ],
       [100.90277778]])

In [45]:
X_train_fever.shape

(80, 1)

In [46]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [51]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

#X_train_gender_city
X_train_gender_city.shape

(80, 4)

In [52]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [56]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape
#X_train_transformed

(80, 7)

## 2.Mentos Zindagi

In [57]:
from sklearn.compose import ColumnTransformer

In [14]:
# SimpleImputer() is used to fill missing values in the specified column.
# Since ['fever'] is passed, this means missing values in the 'fever' column will be
#replaced (default strategy: mean).
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')
#remainder means there are two option Eather you deop the column in which you dont want to perform or you 
# can pass the some colum while performing Encoding

NameError: name 'ColumnTransformer' is not defined

In [60]:
transformer.fit_transform(X_train).shape

(80, 7)

In [61]:
transformer.transform(X_test).shape

(20, 7)