In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)

In [5]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [6]:
# Problem 1

# outlook=Sunny ,Temp=Hot ,Humididty=High ,Wind=Weak
# play or not??

In [7]:
# Solution 

# p(Yes | Suuny,Hot,High, Weak) = p(Sunny|Yes) * p(Hot|Yes) * p(High|Yes) * p(Weak|Yes) * p(Yes)

# p(No | Suuny,Hot,High, Weak) = p(Sunny|No) * p(Hot|No) * p(High|No) * p(Weak|No) * p(No)

# compare and decide using the maximum a posteriori rule above

In [8]:
# Problem 2

#Outlook=Overcast , Temp-Mild, Humidity-Normal, wind= Strong
# Play or no play

In [9]:
# Solution
# P(Yes/ Overcast, Mild, Normal,Strong) = P(Overcast/Yes) * P(Mild/Yes) * P(Normal/Yes) * P(Strong/Yes)
# P(No/Overcast, Mild, Normal,Strong) = P(Overcast/No) * P(Mild/No) * P(Normal/No) * P(Strong/No)

# compare and decide using the Maximum a posteriori rule

In [11]:
#Training

# create lookuptable(dict) at training stage

#Testing

In [12]:
# P(Yes)
# P(No)

In [13]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [14]:
py = 9/14
pn = 5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [15]:
#Outlook

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [16]:
# p is probabaility
pon = 0
prn = 2/5
psn = 3/5

poy = 4/9
pry= 3/9
psy = 2/9

In [17]:
pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [18]:
pcoolno = 1/5
photno = 2/5
pmildno = 2/5

pcoolyes = 3/9
photyes= 2/9
pmildyes= 4/9

In [19]:
pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [20]:
phighno= 4/5
pnormalno = 1/5

phighyes = 3/9
pnormalyes = 6/9

In [21]:
pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [22]:
pstrongno = 3/5
pweakno = 2/5

pstrongyes = 3/9
pweakyes = 6/9

In [23]:
# From Problem 1
#Outlook-Sunny, temp-Hot, humidity-High, wind-Weak, play-No,P(Yes)

#Solution
# P(yes/sunny,hot,high,weak) = P(SunnyYes) * P(Hot/Yes) * P(Humidity/Yes) * P(Weak/Yes) * P(Yes)
# P(No/sunny, hot, high, weak) = P(Sunny/No) * P(Hot/No) * P(Humidty/No) * P(Weak/No) * P(No)

Pyes = psy * photyes * phighyes * pweakyes * py
Pno = psn * photno * phighno * pweakno * pn

In [24]:
print("Probability of yes",Pyes)
print("Probability of no",Pno)

Probability of yes 0.007054673721340387
Probability of no 0.02742857142857143

In [25]:
# Problem 2

#Outlook=Overcast , Temp-Mild, Humidity-Normal, wind= Strong
# Play or no play 

# Solution
# P(Yes/ Overcast, Mild, Normal,Strong) = P(Overcast/Yes) * P(Mild/Yes) * P(Normal/Yes) * P(Strong/Yes) *P(yes)
# P(No/Overcast, Mild, Normal,Strong) = P(Overcast/No) * P(Mild/No) * P(Normal/No) * P(Strong/No) * P(no)

pyes = py * poy * pmildyes * pnormalyes * pstrongyes
pno = pn * pon * pmildno * pnormalno * pstrongno

In [26]:
print("Probability of yes", pyes)
print("Probability of no ", pno)

Probability of yes 0.02821869488536155
Probability of no  0.0